/**************************
TABLE OF CONTENTS
1.0 Containers
2.0 Rows
3.0 Columns
4.0 Responsive
***************************/

/****** 1.0 Containers *******/

.container {
    margin-top: 3.5vh;
}

.mobilecontainer {
    display: none;
}

/********* 2.0 Rows **********/

.row {
    position: relative;
    max-width: 100%;
}

.row [class^="col"] {
    float: left;
    min-height: 0.125rem;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.toprow {
    border-bottom: 2px solid rgb(163, 163, 163);
}

/******** 3.0 Columns ********/

.col {
    padding: 10px;
}

.c1 {
    width: 6.33%;
}

.c2 {
    width: 14.66%;
}

.c3 {
    width: 23%;
}

.c4 {
    width: 31.33%;
}

.c5 {
    width: 39.66%;
}

.c6 {
    width: 48%;
}

.c7 {
    width: 56.33%;
}

.c8 {
    width: 64.66%;
}

.c9 {
    width: 73%;
}

.c10 {
    width: 81.33%;
}

.c11 {
    width: 89.66%;
}

.c12 {
    width: 98%;
}

.one,
.two,
.three {
    border-right: 2px solid rgb(168, 168, 168);
}

/****** 4.0 Responsive *******/

@media only screen and (max-width: 700px) {
    .mobilecontainer {
        display: block;
    }

    /* .container {
        display: none;
    } */

    .c3 {
        width: 46%;
    }

    .s4 {
        width: 31.33%;
    }

    .s5 {
        width: 39.66%;
    }

    .s6 {
        width: 48%;
    }

    .s7 {
        width: 56.33%;
    }

    .s8 {
        width: 64.66%;
    }

    .s9 {
        width: 73%;
    }

    .s10 {
        width: 81.33%;
    }

    .s11 {
        width: 89.66%;
    }

    .s12 {
        width: 98%;
    }

}