/**************************
TABLE OF CONTENTS
1.0 Global / Formatting
2.0 Navigation
3.0 Fonts
4.0 Flair
5.0 Links
6.0 Responsive
***************************/

/**** 1.0 global / Formatting ****/

html,
body,
div,
span,
h1,
h2,
h3,
p,
em,
img,
strong,
ol,
table,
caption,
footer,
span {
    margin: 0;
    padding: 0;
    top: 0;
    font-size: 100%;
    scroll-behavior: smooth;
    list-style: none;
    color: rgb(54, 54, 54);
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: left;
    cursor: default;
    overflow-x: hidden;
    cursor: url("./images/Cursor.png"), auto;
}

header,
section {
    padding: 8vh 0;
}

a:hover {
    cursor: url("./images/Cursor.png"), auto;
}

.content {
    margin: auto;
    max-width: 610px;
}

/*** 2.0 Navigation  ****/

footer {
    height: 40px;
    text-align: center;
    background-color: rgb(196, 196, 196);
    cursor: url("./images/Cursor.png"), auto;
}

nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    z-index: 101;
    text-align: left;
    padding: 5px;
    color: white;
    margin: 5px 0 0 10px;
    /* top: 5px; */
}

nav a span {
    margin: -6px;
    list-style: none;
}

/********* 3.0 Fonts **********/

h1,
h2,
h3 {
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
}

h2,
h3 {
    font-size: 1.9rem;
    line-height: 2rem;
}

p,
a,
span,
button {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;
}

.toprow p {
    font-weight: 700;
    text-align: center;
}

.bottomrow p{
    font-size: 1rem;
}

/******* 4.0 Flair ********/

.dot1,
.dot2,
.dot3,
.dot4 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

.dot1 {
    background-color: #d45e5e;
}

.dot2 {
    background-color: #424242;
}

.dot3 {
    background-color: #397fcf;
}

.dot4 {
    background-color: #89bd0f;
}

img {
    max-width: 600px;
}

.duckdance {
    display: block;
    margin: -100px 0px -6px 0px;
}

.duckdance img {
    opacity: 0.8;
}

.projectdivider {
    background-color: rgb(180, 180, 180);
    height: 2px;
    margin: 20px 0px;
}


.content-spacer {
    height: 5vh;
}

/***** 5.0 Links *****/

.button {
    color: rgb(83, 83, 83);
    padding: 10px 0;
    margin: 20px 20px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(83, 83, 83);
    -webkit-box-shadow: 10px 10px;
    box-shadow: 10px 10px;
    width: 150px;
}

.button:hover {
    -webkit-transform: translatex(-3px) translatey(-3px);
    -ms-transform: translatex(-3px) translatey(-3px);
    transform: translatex(-3px) translatey(-3px);
    -webkit-box-shadow: 13px 13px;
    box-shadow: 13px 13px;
}

button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: url("./images/Cursor.png"), auto;
}

button img {
    width: 25px;
    margin-left: 10px;
    margin-bottom: -4px;
}

.portfoliobuttons {
    display: block;
    margin: 15px 0;
}

.portfoliobuttons a {
    display: inline-block;
    color: rgb(83, 83, 83);
    border: 2px solid rgb(83, 83, 83);
    -webkit-box-shadow: 6px 6px;
    box-shadow: 6px 6px;
    text-align: center;
    padding: 10px 25px;
}

.portfoliobuttons a:hover {
    -webkit-transform: translatex(-3px) translatey(-3px);
    -ms-transform: translatex(-3px) translatey(-3px);
    transform: translatex(-3px) translatey(-3px);
    -webkit-box-shadow: 9px 9px;
    box-shadow: 9px 9px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/***** 6.0 Responsive *******/


@media only screen and (max-width: 600px) {

    .content {
        margin: auto 15px;
    }

}