/**************************
TABLE OF CONTENTS
1.0 Global / Formatting
2.0 Navigation
3.0 Fonts
4.0 Flair
5.0 Links
6.0 Responsive
***************************/

/**** 1.0 global / Formatting ****/

h1,
h2,
h3,
p,
em,
img,
strong,
ol,
table,
caption,
footer,
span,
button,
a {
  margin: 0;
  padding: 0;
  top: 0;
  font-size: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

html {
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bebebe;
  color: rgb(46, 46, 46);
  margin: 0;
  padding: 0;
  top: 0;
  /* background-image: linear-gradient(
    120deg,
    #c99f4b 0%,
    #c74f52 43%,
    #601c25 100%S
  ); */

  background-image: linear-gradient(
    160deg,
    #282d38 0%,
    #31313a 60%,
    #5e331f 100%
  );
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("./images/hero-banner-med.png");
  height: 75vh;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.685);
  margin: auto;
  text-align: center;
  font-weight: bold;
}

header .container {
  max-width: 750px;
  margin: 0 auto;
}

.header-lordicon {
  height: 120px;
  width: 120px;
  opacity: 0.9;
}

.experience-sml {
  display: none;
}
.content {
  margin: 5vh auto;
  padding: 4em;
  max-width: 750px;
  background-color: rgba(255, 255, 255, 0.048);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

section {
  padding: 4em 0 0 0;
}

@keyframes slide-in {
  from {
    margin-left: -30px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in 1000ms;
}

.fade-in {
  animation: fade-in 1500ms;
}

/*** 2.0 Navigation  ****/

footer {
  height: 120px;
  margin-top: -120px;
  background-color: rgba(48, 48, 48, 0.466);
}

footer p {
  color: white;
  padding: 40px 0;
  text-align: center;
}

.footer-lottie {
  margin: 0 auto 0px auto;
  opacity: 0.8;
}

nav {
  background-color: rgb(255, 255, 255);
  position: sticky;
  z-index: 101;
  text-align: left;
  padding: 5px;
  color: white;
  margin: 5px 0 0 10px;
}

nav a span {
  margin: -6px;
  list-style: none;
}

/********* 3.0 Fonts **********/

@font-face {
  font-family: groovy;
  src: url(./Fonts/EricaOne-Regular.ttf);
}

h2,
h3 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 9rem;
  line-height: 8rem;
  padding-top: 15vh;
  font-family: "groovy", "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(240, 240, 240, 0.952);
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 1px;
}

h3 {
  font-size: 1.2rem;
  padding-top: 1.5rem;
}

p,
a,
span,
button,
ol,
li,
ul {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  color: white;
}

ul {
  margin: 0;
  padding: 1.5rem;
}

.toprow p {
  font-weight: 700;
  text-align: center;
}

.bottomrow p {
  font-size: 1rem;
}

/******* 4.0 Flair ********/

img {
  max-width: 100%;
}

.duck-dance {
  display: block;
  opacity: 0.8;
  margin: -50px auto 0px auto;
}

.divider {
  background-color: rgba(255, 255, 255, 0.178);
  height: 2px;
  margin: 15px 0px 25px 0;
  max-width: 100%;
}

header .divider {
  margin: 40px 0;
  background-color: rgba(255, 255, 255, 0.452);
}

.lottie {
  position: absolute;
  float: right;
  right: -30px;
  top: -20px;
  width: 200px;
  height: 200px;
}

.lord-icon {
  margin: -20px 0 0 0;
  float: right;
  height: 60px;
  width: 60px;
}

.skills p {
  background-color: #00000021;
  padding: 6px 0;
  text-align: center;
  border-radius: 4px;
}

.content-spacer {
  height: 5vh;
}

iframe.instagram-media {
  max-width: 100% !important;
  width: 100% !important;
  min-width: auto !important;
}
/***** 5.0 Links *****/

.button {
  background-color: #ffffff17;
  padding: 16px 0px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0.9;
  text-decoration: none;
  transition: 0.1s;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  margin-bottom: 3px;
  margin-top: -3px;
  opacity: 1;
}

.x-button {
  border-radius: 30px;
  background-color: #ffffff33;
  padding: 6px 6px 5px 6px;
  font-size: 2.2rem;
  float: right;
  margin-top: -15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  color: rgb(255, 184, 91);
}

.x-button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  opacity: 1;
}

.card {
  background-color: #ffffff17;
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 0.2s;
  opacity: 0.9;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.199);
  transition: 0.05s;
  margin-bottom: 3px;
  margin-top: -3px;
}

.card img {
  border-radius: 4px 4px 0 0;
}

.card p {
  padding: 5px 0 10px 0;
  text-align: center;
}

.image-gallery img {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  transition: 0.2s;
}

.image-gallery img:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  opacity: 1;
  margin-top: -3px;
  margin-bottom: 3px;
}

.image-gallery p {
  margin-left: 10px;
}

/***** 6.0 Responsive *******/

@media only screen and (min-width: 2200px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
      url("./images/hero-banner-lg.png");
  }
}

@media only screen and (max-width: 850px) {
  .content,
  .container {
    margin: 1.5em 1em;
    padding: 2em 1em;
  }

  h1 {
    font-size: 7rem;
    padding-top: 20vh;
  }

  .header-lordicon {
    height: 100px;
    width: 100px;
  }

  header {
    height: 85vh;
  }

  p,
  a,
  span,
  button,
  ol,
  li,
  ul {
    font-size: 1rem;
  }

  .experience-lrg {
    display: none;
  }

  .experience-sml {
    display: inline-block;
  }

  .lord-icon {
    margin: -4px 0 0 0;
    float: right;
    height: 40px;
    width: 40px;
  }

  @media only screen and (max-width: 700px) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }

    .header-lordicon {
      height: 60px;
      width: 60px;
    }

    header p {
      line-height: 40px;
      font-size: 1.5rem;
    }

    header {
      height: 80vh;
    }
  }
}
